<%- include ('../partials/header') %>   

<section id="body-content">

    <div class="container">
        <div class="more-about-route hidden" data-id="#Star-sai-gon">
    <div class="col-md-12 startpoint-block">
        <div class="startpoint-text">
            <p style="font-size: 25px;padding-left: 30px;background: url(/Content/img/private/icon-bus.png) no-repeat top 4px left;"><strong>KHỞI HÀNH TỪ:</strong> <span>Sài Gòn</span></p>
            <p style="font-size: 22px;padding-left: 30px;background: url(/Content/img/private/icon-phone-big.png) no-repeat top 4px left;"><strong>HOTLINE:</strong> <strong class="text-success">1900 6067</strong></p>
        </div>
    </div>
    <div class="br-download-v2 col-md-3">
        <div class="describe-part">
            <img src="/Content/img/private/webfutabusline-01.png" width="100%" style="margin-bottom:10px;">
            <p>
                *** Quý hành khách có thể đặt vé qua tổng đài phục vụ <strong>24/24</strong> của chúng tôi
                (kể cả thứ 7 và Chủ Nhật): <strong>1900 6067</strong> hoặc mua vé tiện lợi ngay trên chiếc
                điện thoại thông minh của quý vị thông qua <strong>app FUTA Bus</strong> trên cả hai hệ điều
                hành phổ biến nhất hiện nay là IOS và Android
            </p>
        </div>
        <div class="col-ms-12 hotline-part">
            <h3>Tổng đài đặt vé và<br> chăm sóc khách hàng</h3>
            <span>1900 6067<sub><img src="/Content/img/private/img247-10.png"></sub></span>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-9">
        <div class="starlocation-block">
            <div class="row">
                <div class="starstation-block col-md-4">
                    <h4>Các tuyến xuất phát từ</h4>
                    <h3>Bến xe miền tây</h3>
                    <p>395-397 Kinh Dương Vương ,P.An Lạc, Q.Bình Tân</p>
                    <p>Hotline: <strong class="text-success">0283 832 3747</strong></p>
                </div>
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.9158694762405!2d106.61706245563002!3d10.740967331617723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752dd06c1f1d9b%3A0xc0becd5a59108894!2sMien+Tay+Bus+Station!5e0!3m2!1sen!2sus!4v1492584963428" width="500" height="170" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="shufflestation-title">Văn phòng trung chuyển</div>
            <div class="row">
                <div class="shufflestation-block col-md-6">
                    <h4>Văn phòng 202, 231-233 Lê Hồng Phong</h4>
                    <p>202, 231-233 Lê Hồng Phong, P4, Q5</p>
                    <p class="hotline">Hotline: 1900 6367</p>
                    <p class="recommend">Có mặt trước 60 phút giờ khởi hành</p>
                </div>
                <div class="shufflestation-block col-md-6">
                    <h4>Văn phòng Y Dược</h4>
                    <p>15 Lô A, Đăng Thái Thân, P11, Q5</p>
                    <p class="hotline">Hotline: 0283 855 5175</p>
                    <p class="recommend">Có mặt trước 60 phút giờ khởi hành</p>
                </div>
            </div>
            <div class="row">
                <div class="shufflestation-block col-md-6">
                    <h4>Văn phòng Cao Văn Lầu</h4>
                    <p>94 Cao Văn Lầu, Q6</p>
                    <p class="hotline">Hotline: 02839 601 105</p>
                    <p class="recommend">Có mặt trước 60 phút giờ khởi hành</p>
                </div>
                <div class="shufflestation-block col-md-6">
                    <h4>Văn phòng Đồng Đen</h4>
                    <p>288 Đồng Đen, P10, Q.Tân Bình</p>
                    <p class="hotline">Hotline: 02838 601 557</p>
                    <p class="recommend">Có mặt trước 60 phút giờ khởi hành</p>
                </div>
            </div>
        </div>
        <div class="starlocation-block">
            <div class="row">
                <div class="starstation-block col-md-4">
                    <h4>Các tuyến xuất phát từ</h4>
                    <h3>Bến xe miền Đông</h3>
                    <p>292 Đinh Bộ Lĩnh, P26, Q.Bình Thạnh</p>
                    <p>Hotline: <strong class="text-success">0283 511 9808</strong></p>
                </div>
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.953459077758!2d106.70866481322498!3d10.814873692295444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175289741790d39%3A0x95362685e34cec2f!2sThe+East+Station!5e0!3m2!1sen!2sus!4v1492585166257" width="500" height="170" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ms-12">
                <h3 class="text-primary text-uppercase">Tuyến đường</h3>
                    <div class="section-list" id="Star-tra-vinh">
                        <h3 class="text-uppercase text-success">
                            <span class="sprite ico-drive"></span> Hồ Chí Minh <i class="fa fa-exchange"></i>
                        </h3>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                    <tr class="text-white bg-light-green">
                                        <th>STT</th>
                                        <th data-toggle="true">Bến đi</th>
                                        <th>Bến đến</th>
                                        <th data-hide="phone">Quãng đường</th>
                                        <th data-hide="phone">Giờ chạy</th>
                                        <th data-hide="phone">Số chuyến</th>
                                        <th data-hide="phone">Giá vé</th>
                                        <th data-hide="phone"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% listLichTrinh.forEach(buses => { %>
                                        <tr class="route-row1305">
                                            <td>1</td>
                                            <td><%=buses.startPlace%></td>
                                            <td><%=buses.endPlace%></td>
                                            <td><%=buses.distance%></td>
                                            <td>
                                                <%=buses.hourStart%>
                                            </td>
                                            <td>1 chuyến/ngày</td>
                                            <td>
                                                <p>
                                                    <strong class="text-primary">
                                                       <%=buses.price%><sup></sup>
                                                    </strong>
                                                </p>
                                            </td>
                                            <td>
                                                
                                                <a class="br-btn-flat br-watch-schedule" href="/vi-VN/tra-vinh-di-tp-ho-chi-minh-1305.html">
                                                </a>
                                            </td>
                                            <td>

                                                <a href= "/buses/chon-ghe?busesID=<%=buses._id%>" class="btn br-btn-default btn-flat futa-book-ticket">
                                                    <i class="fa fa-ticket icon-flat text-primary icon-bg-default"></i>Mua vé
                                                </a>                                                
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    

            </div>
        </div>
    </div>

</section>
<%- include ('../partials/footer') %>
